@import url(http://fonts.googleapis.com/css?family=Vast+Shadow);

body
{
    color: Black;
    background-color: White;
}

div#clock_frame
{
    width: 100%;
    text-align: center;
}

span
{
    display: block;
    float: center;
    width:  100%;
    font-family: 'Vast Shadow', cursive;
}

span#clock_date
{
    text-align: center;
    font-size: 1.0em;
    padding-right: 1.0em;
}

span#clock_time
{
    text-align: center;
    font-size: 2em;
    margin: 8%;
}
