@import url(http://fonts.googleapis.com/css?family=Alegreya);

body
{
    color: black;
    background-color: white;
}

div#clock_frame
{
    width: 100%;
    text-align: center;
}

span
{
    display: block;
    float: right;
    width: 100%;
    font-family: 'Alegreya', cursive;
}

span#clock_date
{
    text-align: center;
    font-size: 0.5em;
    padding-right: 0.5em;
}

span#clock_time
{
    font-size: 2em;
}
