@import url(http://fonts.googleapis.com/css?family=Newsreader);

body
{
    color: black;
    background-color: white;
}

div#clock_frame
{
    width: 100%;
    height: 100%;
    text-align: center;
    position:relative;
}

span
{
    display: block;
    float: right;
    position: absolute;
    top: 50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    width: 100%;
    font-family: 'Newsreader', cursive;
}

span#clock_date
{
    text-align: center;
    font-size: 0.5em;
    padding-right: 0.5em;
}

span#clock_time
{
    font-size: 2em;
}
