@import url(http://fonts.googleapis.com/css?family=Newsreader);

body
{
    color: black;
    background-color: white;
}

div#clock_frame
{
    position:relative;
}

span
{
    display: block;
    float: right;
    position: absolute;
    margin: auto;
    font-family: 'Newsreader', cursive;
}

span#clock_date
{
    text-align: center;
    font-size: 0.5em;
    padding-right: 0.5em;
}

span#clock_time
{
    font-size: 2em;
}
